html {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin-top: 5%;
  margin-bottom: 5%;
  background: rgba(255, 255, 255, 0.4);
  font-family: 'Josefin Sans', sans-serif;
}

.content-body{
  height: 100%;
  overflow-y: auto;
}

.container {
  min-height: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.logo {
  position: absolute;
  width: 30%;
  margin-left: -4%;
  margin-top: -6%;
  z-index: 10;
}

.navbar {
  background: rgba(53, 187, 228, 0.9);
  border: none;
}
.navbar-default .navbar-nav>li>a {
  color: black;
  font-weight: 700;
  font-size: 1.8em;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background-color: rgb(0, 52, 178);
}
.navbar-nav>a:hover{
  color: white;
}

.footer {
  background-color: rgb(0, 52, 178);
}
.text-muted {
  color: white;
  font-size: 1.3em;
  font-weight: 700;
  padding-top: 1%;
}
.glyphicon {
  padding-left: 5px;
  padding-right: 5px;
}

.contacto {
  font-size: 1.5em;
  text-align: right;
}

.spotify {
  margin-top: 20%;
}